.span1 {
  -ms-flex-preferred-size: 6.20563%;
  flex-basis: 6.20563%;
  margin-left: 2.1277%;
  max-width: 6.20563%; }

.offset1 {
  margin-left: 10.46103%; }

.span2 {
  -ms-flex-preferred-size: 14.53897%;
  flex-basis: 14.53897%;
  margin-left: 2.1277%;
  max-width: 14.53897%; }

.offset2 {
  margin-left: 18.79437%; }

.span3 {
  -ms-flex-preferred-size: 22.8723%;
  flex-basis: 22.8723%;
  margin-left: 2.1277%;
  max-width: 22.8723%; }

.offset3 {
  margin-left: 27.1277%; }

.span4 {
  -ms-flex-preferred-size: 31.20563%;
  flex-basis: 31.20563%;
  margin-left: 2.1277%;
  max-width: 31.20563%; }

.offset4 {
  margin-left: 35.46103%; }

.span5 {
  -ms-flex-preferred-size: 39.53897%;
  flex-basis: 39.53897%;
  margin-left: 2.1277%;
  max-width: 39.53897%; }

.offset5 {
  margin-left: 43.79437%; }

.span6 {
  -ms-flex-preferred-size: 47.8723%;
  flex-basis: 47.8723%;
  margin-left: 2.1277%;
  max-width: 47.8723%; }

.offset6 {
  margin-left: 52.1277%; }

.span7 {
  -ms-flex-preferred-size: 56.20563%;
  flex-basis: 56.20563%;
  margin-left: 2.1277%;
  max-width: 56.20563%; }

.offset7 {
  margin-left: 60.46103%; }

.span8 {
  -ms-flex-preferred-size: 64.53897%;
  flex-basis: 64.53897%;
  margin-left: 2.1277%;
  max-width: 64.53897%; }

.offset8 {
  margin-left: 68.79437%; }

.span9 {
  -ms-flex-preferred-size: 72.8723%;
  flex-basis: 72.8723%;
  margin-left: 2.1277%;
  max-width: 72.8723%; }

.offset9 {
  margin-left: 77.1277%; }

.span10 {
  -ms-flex-preferred-size: 81.20563%;
  flex-basis: 81.20563%;
  margin-left: 2.1277%;
  max-width: 81.20563%; }

.offset10 {
  margin-left: 85.46103%; }

.span11 {
  -ms-flex-preferred-size: 89.53897%;
  flex-basis: 89.53897%;
  margin-left: 2.1277%;
  max-width: 89.53897%; }

.offset11 {
  margin-left: 93.79437%; }

.span12 {
  -ms-flex-preferred-size: 97.8723%;
  flex-basis: 97.8723%;
  margin-left: 2.1277%;
  max-width: 97.8723%; }

.offset12 {
  margin-left: 102.1277%; }
